<h1 class="text-center text-capitalize">Product not possible for purchase</h1>
<p class="lead text-center">Number of available products exceeded</p>
<p class="text-center">Number of Products requested for buying : <strong> @ViewBag.NumberOfInputProducts</strong></p>