@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="row">
    <div class="col">
        <select class="form-control form-control-lg">
            <option selected>Choose item to buy</option>
            <option >Laptop</option>
            <option >Choose item to buy</option>
            <option >Phone</option>
        </select>
    </div>

    <div class="col">
        <input class="form-control form-control-lg" type="text" placeholder="Enter number of items to buy">
    </div>
</div>

<div class="row" style="margin-top:2%">
    <div class="col-4 offset-4">
        <button type="button" class="btn btn-primary btn-block">Buy</button>
    </div>
</div>